Repository anderseide/ResourceModules, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Azure/module-maintainers, @Azure/modules-ptn-authorization-resourceroleassignment-module-owners-bicep, @Azure/avm-module-reviewers-bicep, @Azure/modules-res-resources-resourcegroup-module-owners-bicep, @anderseide

changed metadata prop
  modules/res/storage/storage-account/blob-service/container/immutability-policy/main.bicep
  modules/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  modules/res/storage/storage-account/blob-service/container/main.bicep
  modules/res/storage/storage-account/blob-service/container/main.json
  modules/res/storage/storage-account/blob-service/main.bicep
  modules/res/storage/storage-account/blob-service/main.json
  modules/res/storage/storage-account/file-service/main.bicep
  modules/res/storage/storage-account/file-service/main.json
  modules/res/storage/storage-account/file-service/share/main.bicep
  modules/res/storage/storage-account/file-service/share/main.json
  modules/res/storage/storage-account/local-user/main.bicep
  modules/res/storage/storage-account/local-user/main.json
  modules/res/storage/storage-account/main.bicep
  modules/res/storage/storage-account/main.json
  modules/res/storage/storage-account/management-policy/main.bicep
  modules/res/storage/storage-account/management-policy/main.json
  modules/res/storage/storage-account/queue-service/main.bicep
  modules/res/storage/storage-account/queue-service/main.json
  modules/res/storage/storage-account/queue-service/queue/main.bicep
  modules/res/storage/storage-account/queue-service/queue/main.json
  modules/res/storage/storage-account/table-service/main.bicep
  modules/res/storage/storage-account/table-service/main.json
  modules/res/storage/storage-account/table-service/table/main.bicep
  modules/res/storage/storage-account/table-service/table/main.json
Owners: @anderseide

Initial script to return module identifier
  utilities/pipelines/sharedScripts/Get-AVMModuleIdentifier.ps1
Owners: @Azure/module-maintainers

Script improvements
  utilities/pipelines/sharedScripts/Get-AVMModuleIdentifier.ps1
Owners: @Azure/module-maintainers

Improved documentation
  utilities/pipelines/sharedScripts/Get-AVMModuleIdentifier.ps1
Owners: @Azure/module-maintainers

Fixing and faxing and trying to get away from fixed root folder in a dynamic way
  .github/workflows/aeavm.res.storage.storage-account.yml
  utilities/pipelines/sharedScripts/Get-AVMModuleIdentifier.ps1
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Owners: @Azure/module-maintainers

Fixed incorrect path
  .github/workflows/platform.librarycheck.psrule.yml
Owners: @Azure/module-maintainers

Changed to using secret
  .github/workflows/platform.librarycheck.psrule.yml
Owners: @Azure/module-maintainers

removed token as checkout is same repo
  .github/workflows/platform.apiSpecs.yml
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Updated test to support both online and local apiSpecsList
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Owners: @Azure/module-maintainers

Various updates and fixes
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
Owners: @Azure/module-maintainers

Removed dep on known module root path
  .github/actions/templates/validateModulePester/action.yml
  utilities/pipelines/staticValidation/compliance/module.tests.ps1
  utilities/tools/Test-ModuleLocally.ps1
Owners: @Azure/module-maintainers

Updated readme and json
  modules/res/storage/storage-account/README.md
  modules/res/storage/storage-account/blob-service/README.md
  modules/res/storage/storage-account/blob-service/container/README.md
  modules/res/storage/storage-account/blob-service/container/immutability-policy/README.md
  modules/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  modules/res/storage/storage-account/blob-service/container/main.json
  modules/res/storage/storage-account/blob-service/main.json
  modules/res/storage/storage-account/file-service/README.md
  modules/res/storage/storage-account/file-service/main.json
  modules/res/storage/storage-account/file-service/share/README.md
  modules/res/storage/storage-account/file-service/share/main.json
  modules/res/storage/storage-account/local-user/README.md
  modules/res/storage/storage-account/local-user/main.json
  modules/res/storage/storage-account/main.json
  modules/res/storage/storage-account/management-policy/README.md
  modules/res/storage/storage-account/management-policy/main.json
  modules/res/storage/storage-account/queue-service/README.md
  modules/res/storage/storage-account/queue-service/main.json
  modules/res/storage/storage-account/queue-service/queue/README.md
  modules/res/storage/storage-account/queue-service/queue/main.json
  modules/res/storage/storage-account/table-service/README.md
  modules/res/storage/storage-account/table-service/main.json
  modules/res/storage/storage-account/table-service/table/README.md
  modules/res/storage/storage-account/table-service/table/main.json
Owners: @anderseide

Updated and fixes
  modules/ptn/authorization/resource-role-assignment/README.md
  modules/ptn/authorization/resource-role-assignment/main.json
  utilities/pipelines/sharedScripts/Set-ModuleReadMe.ps1
  utilities/pipelines/sharedScripts/helper/Get-CrossReferencedModuleList.ps1
  utilities/pipelines/sharedScripts/helper/Get-IsParameterRequired.ps1
  utilities/pipelines/sharedScripts/helper/Merge-FileWithNewContent.ps1
  utilities/tools/Set-AVMModule.ps1
  utilities/tools/Set-Module.ps1
Owners: @Azure/modules-ptn-authorization-resourceroleassignment-module-owners-bicep, @Azure/avm-module-reviewers-bicep, @Azure/module-maintainers

Update readme
  modules/res/resources/resource-group/README.md
  modules/res/resources/resource-group/main.json
Owners: @Azure/modules-res-resources-resourcegroup-module-owners-bicep, @Azure/avm-module-reviewers-bicep

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

test
  modules/res/storage/storage-account/main.bicep
Owners: @anderseide

CICD Change example
  modules/res/storage/storage-account/main.bicep
Owners: @anderseide

Change to Standard_LRS as default
  modules/res/storage/storage-account/README.md
  modules/res/storage/storage-account/blob-service/container/immutability-policy/main.json
  modules/res/storage/storage-account/blob-service/container/main.json
  modules/res/storage/storage-account/blob-service/main.json
  modules/res/storage/storage-account/file-service/main.json
  modules/res/storage/storage-account/file-service/share/main.json
  modules/res/storage/storage-account/local-user/main.json
  modules/res/storage/storage-account/main.bicep
  modules/res/storage/storage-account/main.json
  modules/res/storage/storage-account/management-policy/main.json
  modules/res/storage/storage-account/queue-service/main.json
  modules/res/storage/storage-account/queue-service/queue/main.json
  modules/res/storage/storage-account/table-service/main.json
  modules/res/storage/storage-account/table-service/table/main.json
Owners: @anderseide

Changed default back to GRS
  modules/res/storage/storage-account/main.bicep
Owners: @anderseide

Changed default back to GRS
  modules/res/storage/storage-account/README.md
  modules/res/storage/storage-account/main.json
Owners: @anderseide

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Removed hardcoded path elements
  utilities/tools/helper/Set-ModuleFileAndFolderSetup.ps1
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

Push updated API Specs file
  utilities/src/apiSpecsList.json
Owners: @Azure/module-maintainers

.github/CODEOWNERS:

*   @Azure/module-maintainers
/modules/ptn/authorization/resource-role-assignment/ @Azure/modules-ptn-authorization-resourceroleassignment-module-owners-bicep @Azure/avm-module-reviewers-bicep
/modules/res/resources/resource-group/ @Azure/modules-res-resources-resourcegroup-module-owners-bicep @Azure/avm-module-reviewers-bicep
/modules/res/storage/storage-account/ @anderseide @anderseide
